.list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;
  margin-top: 40px;
  gap: 20px;
}

.emptyMessage {
  text-align: center;
  color: #a3a1dc;
  font-size: 16px;
  margin-top: 40px;
  padding: 0 20px;
}
